streamlit>=1.28.0
python-dotenv>=1.0.0
langchain>=0.1.0
langchain-community>=0.1.0
langchain-groq>=0.1.0
faiss-cpu>=1.7.4
torch>=2.1.0
transformers>=4.30.0
sentence-transformers>=2.2.2
pydub>=0.25.1
elevenlabs>=0.3.0
deep-translator>=1.10.1
SpeechRecognition>=3.10.0
streamlit-mic-recorder>=0.1.0
