streamlit
python-dotenv
langchain
langchain-community
langchain-groq
faiss-cpu
transformers
torch
deep-translator
speechrecognition
streamlit-mic-recorder
sentence-transformers
google-cloud-texttospeech
